body{
    font-family: Arial, Helvetica, sans-serif;    
}

img{
    height: auto;
    width: 100%;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    height:80px;
    width: 100%;
    background-color: #E44141;
    text-align: center;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.55);
}
 header img{     
     height: 100%;
     width: auto;
 }

main{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top:100px;
    padding-bottom: 20px;
    height: auto;
    overflow-y: scroll;
}

.pokemonList{
    height: 200px;
    margin: 100px 3px 0 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.55);
    border-radius: 20px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.pokemon{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    height: 200px;
    width: 155px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.55);
    border-radius: 20px;
    cursor: pointer;
}
.pokemonSolo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 150px;
    margin-top: 10px;
}
.pokemonSolo .title{
    margin-top: -10px;
}

.title{
    font-size: 20px;    
}
.id{
    color:slategray;
    font-size: 17px;
    margin:5px 0;
}

.back, .next{
    font-size: 40px;
}

.pokemonData{
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.55);
    border-radius: 20px;
    margin: 0 3px;
}

.measure{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.measure div{
    text-align: center;
}

.pokemonData p{
    color: slategray;
    font-size: 17px;
    margin-bottom:10px;
}
.pokemonData span{    
    font-size: 20px;
    margin-bottom: 10px;
}

.info{
    margin: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
}
